body{
    font-family: 'Segoe UI', sans-serif;
    overflow-x:hidden;
    padding-bottom: 70px;
    padding-top: 80px;
}

.navbar{
    transition: .3s;
}

.navbar-brand{
    color:#0d6efd !important;
}

.nav-link{
    font-weight:500;
    margin:0 10px;
    position:relative;
}

.nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-4px;

    width:0;

    height:2px;

    background:#0d6efd;

    transition:.3s;
}

.nav-link:hover::after{

    width:100%;
}

.btn-primary{

    border-radius:50px;

    padding:10px 24px;
}

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top:90px;
}

.carousel img{
    height:600px;
    object-fit:cover;
    border-radius:20px;
}

.carousel-caption{
    background:rgba(0,0,0,.55);
    padding:20px;
    border-radius:15px;
}

.carousel{
    max-width:1100px;
    margin:auto;
}

.sidebar{

    position:fixed;

    top:56px;

    left:0;

    width:260px;

    height:calc(100vh - 56px);

    background:#f8f9fa;

    border-right:1px solid #ddd;

    padding:25px;

    overflow-y:auto;
}

.sidebar .nav-link{

    color:#444;

    margin:8px 0;

    border-radius:10px;

    transition:.3s;
}

.sidebar .nav-link:hover{

    background:#0d6efd;

    color:white;
}

.contenido{

    margin-left:260px;

    margin-top:70px;

    padding:35px;
}

.nav-link.active{

    color:#0d6efd !important;

    font-weight:700;

    border-bottom:3px solid #0d6efd;

    pointer-events:none;

    cursor:default;

}

/* Barra fija inferior */

.footer-bar{

    position: fixed;

    bottom: 0;

    left: 0;

    width: 100%;

    background: #111827;

    color: white;

    padding: 12px 0;

    z-index: 1030;

    box-shadow: 0 -3px 10px rgba(0,0,0,.2);

}

.footer-bar i{

    color: #FFC107;

    margin-right: 8px;

}

.footer-bar span{

    font-size: .95rem;

}

.navbar{
    transition: all .3s ease;
}

.navbar.scrolled{
    background-color: rgba(255,255,255,.95) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

#calendar{

    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

}